.footerbar {
  margin: 0;
  width: 100%;
  background-color: black;
}
.footerbar h4{
  margin: 0;
  text-align: center;
  color: white;
}
.footerbar-top-section {
  display: grid;
  grid-template: 80% / 14% 14% 14% 14% 14% 14%;
  grid-gap:2%;
  text-align: left;
  justify-content: center;
  padding: 30px;
  font-size: 12px;
}
.footerbar-top-section a {
  display: block;
  color: #a3c7e5;
  margin: 0;
}
.footerbar-top-section h4 {
  display: block;
  color: white;
  margin: 0;
}
