@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css";

@keyframes bounce-1 {
    0%   { transform: translate(-100px,0);}
    15%  { transform: translate(-90px,-50px); transform: scale3d(0.5,0.5,0.5);}
    30% { transform: translate(-75px,0);transform: scale3d(1,1,1);}
    45%  { transform: translate(-60px,-50px);transform: scale3d(1.5,1.5,1.5); }
    60% { transform: translate(-45px,0);transform: scale3d(1,1,1);}
    75%  { transform: translate(-30px,-50px);transform: scale3d(0.5,0.5,0.5);}
    90% { transform: translate(-15px,-25px);transform: scale3d(1,1,1);}
    100% { transform: translate(0,0);}
}


.main-container {
  height: 84.25vh;

}
.first-container{
  margin-top: 3vh;
  height:65%;
  &:div{
    height:100%;
  }
}
.info-stat{
  border: 5px solid rgba(153, 51, 51, 0.8);
  border-radius: 20px;
  background-color: rgba(153, 51, 51, 0.2);
  height: 25vh;
  .row{
    height:50%;
  }
}

.detail {
  border: 5px solid rgba(153, 51, 51, 0.8);
  border-radius: 20px;
  background-color: rgba(153, 51, 51, 0.2);
  height: 25vh;
  margin-top: 1vh;
}

img {
  height: 80%;
  width: 80%;
  animation: bounce-1;
  animation-duration: 2s;
}

body{
  background-color: 	rgba(139,69,19, 0.8);
  margin: 0;
}
#pokemon-picture {
  background-image: url("computer_2.png");
  background-size: cover;
  height: 25vh;
}
