@keyframes bounce-1 {
    0%   { transform: translate(-100px,0);}
    15%  { transform: translate(-90px,-50px);}
    30% { transform: translate(-75px,0);}
    45%  { transform: translate(-60px,-50px); }
    60% { transform: translate(-45px,0);}
    75%  { transform: translate(-30px,-50px);}
    90% { transform: translate(-15px,-25px);}
    100% { transform: translate(0,0);}
}


.main-container {
  height: 650px;
}
.first-container{
  height:50%;
  &:div{
    height:100%;
  }
}
.info-stat{
  border: 5px solid rgba(153, 51, 51, 0.8);
  border-radius: 20px;
  background-color: rgba(153, 51, 51, 0.2);

}
img {
  height: 80%;
  width: 80%;
  animation: bounce-1;
  animation-duration: 2s;
}
.new {
  height: 80%;
}
