.main-container {
  /* width: 80%; */
  height: 440px;
  /* background-image: url("https://wallpaperplay.com/walls/full/e/c/2/70296.jpg"); */
  /* margin-left: 5%;
  margin-top: 50px;
  padding: 5%;
  display: grid;
  grid-template: auto / 48% 48%;
  grid-gap: 4%; */
}

img {
  height: 80%;
  width: 80%;
}

/* Aural */

.main-container:div{
  /* display: inline;
  width: 80%; */
  height: 50%;
  /* margin-left: 10%;
  margin-top: 5%; */
}

#pokemon-picture {
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.pokemon-info {
  /* background-color: rgba(255, 0, 0, 0.5); */

}
.info-stat {
  display: grid;
  grid-template: auto auto / 30% 30% 30%;
  width:80%;
  height: 100%;
  grid-gap: 2%; */
  margin-left: 3%;
  border: 5px solid blue;
  border-radius: 10%;
}
